html,
body {
	height: 100%;
}

body {
	font-family: Helvetica Neue;
	padding: 10px 20px;
}

#app {
	width: 100%;
}

.board {
	margin-right: 10px;
	overflow: hidden;
	border: solid 1px #000;
	display: flex;
	justify-content: space-around;
}

.cards {
	width: 425px;
	display: flex;
	margin-top: 15px;
	margin-bottom: 15px;
}

.card {
	overflow: hidden;
	border: solid 1px #000;
	display: flex;
	justify-content: space-around;
	height: 154px;
}

.card:first-child {
	margin-right: 10px;
}

.col {
	border-right: solid 1px #000;
}

.col:last-child {
	border: 0;
}

.card1 {
	margin-right: 10px;
}
