html,
body {
	height: 100%;
}

body {
	font-family: Helvetica Neue;
	padding: 10px 20px;
}

#app {
	width: 100%;
}

.board {
	margin-right: 20px;
	overflow: hidden;
	border: solid 1px #000;
	display: flex;
	justify-content: space-around;
}

.cards {
	width: 425px;
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
}

.card {
	margin: auto 0;
	background-color: #000;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.card-grid {
	overflow: hidden;
	border: solid 1px #000;
	display: flex;
	justify-content: space-around;
	height: 154px;
	background-color: #fff;
}

.card-label {
    display: block;
    color: #fff;
    padding: 5px 7px;
    font-size: 14px;
}

.card:first-child {
	margin-right: 10px;
}

.col {
	border-right: solid 1px #000;
}

.col:last-child {
	border: 0;
}

.card1 {
	margin-right: 10px;
}
