.card .slot {
    width: 30px;
    height: 30px;
}

.slot--start {
    background: #000;
}


.slot--green {background:#848877}
.slot--dark-green {background:#6a6d60}
.slot--blue {background:#6a7f9a}
.slot--red {background: #915958}